**
!Dockerfile
!.dockerignore
!api/
!api/package.json
!api/package-lock.json
!api/container-lock.mjs
!api/dist/
!api/dist/**/
!api/dist/**/*.js
!dist/
!dist/index.html
!dist/assets/
!dist/assets/*.js
!dist/assets/*.css
**/.env*
**/.local
**/.local/**
**/.git
**/.git/**
**/.npmrc
**/*.pem
**/*.key
